
@font-face{
	font-family: "Merriweather";
	src:local('Merriweather-Regular'),
		url(../font/Merriweather-Regular.woff2) format("woff2"),
		url(../font/Merriweather-Regular.woff) format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
}
@font-face{
	font-family: "Merriweather";
	src:local('Merriweather-Bold'),
		url(../font/Merriweather-Bold.woff2) format("woff2"),
		url(../font/Merriweather-Bold.woff) format("woff");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
}
@font-face{
	font-family: "Golos Text";
	src:local('GolosText-Regular'),
		url(../font/GolosText-Regular.woff2) format("woff2"),
		url(../font/GolosText-Regular.woff) format("woff");
		font-weight: 400;
		font-style: normal;
		font-display: swap;
}
@font-face{
	font-family: "Golos Text";
	src:local('GolosText-Medium'),
		url(../font/GolosText-Medium.woff2) format("woff2"),
		url(../font/GolosText-Medium.woff) format("woff");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
}
@font-face{
	font-family: "Golos Text";
	src:local('GolosText-SemiBold'),
		url(../font/GolosText-SemiBold.woff2) format("woff2"),
		url(../font/GolosText-SemiBold.woff) format("woff");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
}
@font-face{
	font-family: "Golos Text";
	src:local('GolosText-Bold'),
		url(../font/GolosText-Bold.woff2) format("woff2"),
		url(../font/GolosText-Bold.woff) format("woff");
		font-weight: 700;
		font-style: normal;
		font-display: swap;
}
@font-face{
	font-family: "Montserrat";
	src:local('Montserrat-medium'),
		url(../font/Montserrat-medium.woff2) format("woff2"),
		url(../font/Montserrat-medium.woff) format("woff");
		font-weight: 500;
		font-style: normal;
		font-display: swap;
}
@font-face{
	font-family: "Montserrat";
	src:local('Montserrat-SemiBold'),
		url(../font/Montserrat-SemiBold.woff2) format("woff2"),
		url(../font/Montserrat-SemiBold.woff) format("woff");
		font-weight: 600;
		font-style: normal;
		font-display: swap;
}
html{
	box-sizing: border-box;
}

*,
*::after,
*::before{
	box-sizing: inherit;
}

a{
	color:inherit;
	text-decoration: none;
}

img{
	max-width: 100%;
}

body{
	min-width: 320px;
	font-family: 'Golos Text', sans-serif;
	font-weight: 400;
}

/* Global */
.container{
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-title {
	color: #060606;
	font-family: 'Merriweather', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-red {
	color: #F54932;
	font-weight: 700;
}
.text-underline {
	margin-right: 5px;
	text-decoration: line-through;
	text-decoration-color: red;
}

@media (max-width: 1400px) {
  .container{
    padding: 0 15px;
  }
	.section-title {
		color: #313131;
	}
}
/* Btn */
.btn {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: all 0.4s linear;
}
.btn-black {
	background: #1F1F1F;
	color: #FFF;
}
.btn-black:hover{
	background: #FBCE51;
	color: #1F1F1F;
}
.btn-outlain-black {
	color: #1F1F1F;
	border: 2px solid #1F1F1F;
}
.btn-outlain-black:hover{
	background: #1F1F1F;
	color:#fff;
}
@media (max-width: 1400px) {
	.btn {
		font-family: 'Golos Text', sans-serif;
		font-weight: 500;
	}
}
/* Header */
.header{
	padding-top: 16px;
	background-image: url(../image/hero.jpg);
}
.header_top{
	margin-bottom: 50px;
	width: 100%;
}
.header__image {
	margin-right: 3px;
}
.header__heading {
	max-width: 147px;
	display: inline-block;
	color: #595653;
	font-size: 16.651px;
	font-weight: 700;
	line-height: 108%;
	text-transform: uppercase;
}
.header__left {
	width: 542px;
}
.header__title {
	margin: 0;
	font-size: 60px;
	line-height: 110%;
}
.header__text {
	margin-top: 22px;
	margin-bottom: 0;
	color: #151515;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 130%;
}
.header__group {
	display: flex;
	gap: 16px;
	padding-top: 40px;
	padding-bottom: 130px;
	flex-wrap: nowrap;
}
.header__btn {
	display: inline-block;
	width: 100%;
	max-width: 263px;
	padding: 16px 36px;
	border-radius: 66px;
	text-align: center;
}
@media (max-width: 1400px) {
  .header {
    background-size: cover;
    background-position: center;
	}
	.header__image {
    margin-right: 0px;
	}
	.header__text{
		font-family: "Golos Text",sans-serif;
	}
	.header__btn {
    padding: 14px 45px;
    border-radius: 66px;
    text-align: center;
		line-height: 130%;
	}
}
/* Marquee */
.marquee {
	background: #F54932;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}
.marquee__container {
	padding-left: 100%;
	animation: marquee 15s linear infinite;
}

.marquee__item {
	padding: 18px 12px;
	display: inline-block;
	color: #fff;
	font-family: 'Merriweather', sans-serif;
	font-size: 22px;
	line-height: 110%; /* 24.2px */
	text-transform: uppercase;
}
.marquee__botton{
	margin: 0;
}
@keyframes marquee {
0%   { transform: translate(0, 0); }
100% { transform: translate(-100%, 0); } /* Двигаем текст влево до скрытия за пределами блока */
}

/* Idea */
.idea{
	margin-top: 80px;
	margin-bottom: 17px;
}
.idea__content {
	display: flex;
	gap: 62px;
}
.idea__title {
	margin-top: 28px;
	width: 100%;
	max-width: 764px;
	font-size: 36px;
	line-height: 135%;
}
.idea__right{
	min-width: 394px;
	min-height: 250px;
	border-radius: 394px/250px;
	overflow: hidden;
}
.idea__right::after{
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url(../image/iday.jpg);
}

/* Detailed */
.detailed{
	margin-bottom: 165px;
}
.detailed__content {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.detailed__right{
	max-width: 704px;
	margin-left: auto;
	padding-top: 45px;
	padding-bottom: 35px;
}
.detailed__content::before {
	content: "";
	position: absolute;
	left: -25px;
	display: block;
	margin-right: 17px;
	width: 100%;
	min-height: 100%;
	background-image: url(../image/detailed.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
.detailed__title {
	margin: 0;
	margin-bottom: 60px;
	font-size: 36px;
	font-weight: 700;
	line-height: 135%;
}
.detailed__table{
	margin-bottom: 48px;
	border: 0;
	border-collapse: collapse;
}
.detailed__tr{
	font-size: 20px;
	line-height: 120%;
}
.detailed__caption {
	padding: 16px;
	padding-right: 20px;
	padding-left: 0;
	min-width: 290px;
	color: #313131;
	font-weight: 400;
	opacity: 0.7;
	border: 1px solid #D0D0D0;
	border-left: 0;
}
.detailed__list {
	padding: 16px;
	min-width: 399px;
	color: #313131;
	font-weight: 600;
	border: 1px solid #D0D0D0;
	border-right: 0;
}
.detailed__tr:first-child .detailed__list,
.detailed__tr:first-child .detailed__caption {
	padding-top: 0;
	border-top: 0;
}
.detailed__tr:last-child .detailed__list,
.detailed__tr:last-child .detailed__caption {
	padding-bottom: 0;
	border-bottom: 0;
}
.detailed_link{
	margin: 0;
	color: #3057A2;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
}

/* Stage */
.stage{
	margin-bottom: 200px;
}
.stage__title {
	margin: 0;
	margin-bottom: 54px;
	max-width: 806px;
	font-size: 54px;
	line-height: 120%;
}
.stage__subtitle {
	margin-left: 5px;
	display: inline-block;
	max-width: 280px;
	color: #3057A2;
	font-family: "Golos Text", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
	text-transform: none;
}
.stage__content{
	position: relative;
}
.stage__list {
	position: relative;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-areas: "post-1 post-2 post-3"  
										 "post-4 post-5 post-3"  
										 "post-6 post-7 post-7"; 
	grid-template-rows: repeat(2, 112px) 136px;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	list-style-type: none;
	counter-reset: num;
}
.post-1 {
grid-area: post-1;
}
.post-2 {           
grid-area: post-2;
}
.post-3 {
grid-area: post-3;
}
.post-4 {           
grid-area: post-4;
}
.post-5 {
grid-area: post-5;
}
.post-6 {           
grid-area: post-6;
}
.post-7 {           
grid-area: post-7;
}
.post-7 .stage__text{
	max-width: 446px;
}
.stage__item {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 20px;
	background-image: url(../image/stage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	align-items: flex-start;
}
.stage__item::before {
	margin-right: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	content: counter(num);
	counter-increment: num;
	min-width: 36px;
	min-height: 36px;
	background: #fff;
	border-radius: 60px;
	color: #313131;
	font-size: 20px;
	font-weight: 600;
	line-height: 120%;
}
.stage__text {
	margin: 0;
	color: #313131;
	font-size: 20px;
	font-weight: 500;
	line-height: 120%;
}
.stage__airo::after{
	position: absolute;
	content: "";
	width: 380px;
	height: 210px;
	background-image: url(../image/airo.png);
	background-repeat: no-repeat;
	bottom: 22px;
	right: -45px;
	z-index: 1;
}

/* caruosel */
.caruosel{
	margin-bottom: 140px;
}
.caruosel__header {
	margin-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.caruosel__title {
	margin: 0;
	max-width: 806px;
	font-size: 54px;
	line-height: 120%;
}
.caruosel__group {
	display: flex;
}
.group__btn{
	width: 44px;
	height: 44px;
}
.group__prev{
	margin-right: 14px;
	background-image: url(../image/left.svg);
}
.group__next{
	margin-left: 14px;
	background-image: url(../image/right.svg);	
}
.group__btn:hover svg{
	fill:#FBCE51;
}
.caruosel_content {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.caruosel__list {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.caruosel__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-flex-shrink: 0;
	-ms-flex: 0 0 auto;
	flex-shrink: 0;
	margin-right: 20px;
	max-width: 394px;
	width: 100%;
	height: 100%;
	position: relative;
}
.card__prodile {
	position: relative;
	min-width: 320px;
	min-height: 320px;
	border-radius: 196px;
	overflow: hidden;
}
.card__prodile::before {
	position: absolute;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../image/fon.png);
	z-index: -1;
}
.card__image {
	padding-top: 20px;
	padding-left: 10px;
}
.card__name {
	margin: 25px 0 6px;
	color: #151515;
	font-size: 24px;
	font-weight: 600;
	line-height: 120%;
}
.card__text {
	margin: 0;
	margin-bottom: 20px;
	color: #151515;
	font-size: 20px;
	font-weight: 400;
	line-height: 120%;
}
.caruosel__btn {
	padding: 7.5px 12px;
	color: #3057A2;
	font-size: 16px;
	line-height: 120%;
	border-radius: 62px;
	border: 1px solid #3057A2;
	transition: all 0.4s ease;
}
.caruosel__btn:hover{
	border: 1px solid #3057A2;
	background: #3057A2;
	color: #fff;
}
/* Footer */
.footer{
	padding: 22px 72px 72px;
	background: #E9DED4;
}
.footer__text{
	color: #313131;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
}